.sss {
	height: 0;
	margin: 0; 
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}
.sssnext, .sssprev {
	width: 25px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	background: url('images/arr.png') no-repeat;
}

.sssprev {
	left: 2%;
	background-position: 0 50%;
}

.sssnext {
	right: 2%;
	background-position: -26px 50%;
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}
.slider{
	width: 100%;
	margin: auto;
	margin-top: 10px;
	height:auto;
}
.slider-1{
	text-align: center;	 
	background: rgba(0,0,0,0.4);
	width: 70%;	
	margin-left: 14%;
	height:auto; 
	border:1px black solid;
	border-radius: 2px;
	font-size: 20px;
	box-sizing: border-box;
}
.slider-1 h4{
	color: #05CB98;
}
.slider-2{
	text-align: center;
	width: 100%;
	height: auto;
	margin: auto;
	box-sizing: border-box;
}